.hidden {
    display: none;
  }

.custom-navbar {
    background-color: #144A9A; /* Fondo azul para el navigation bar */
}

.custom-navbar .nav-link {
    color: white; /* Texto blanco */
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.custom-navbar .nav-link:hover {
    background-color: #FBB41C; /* Fondo amarillo al pasar el mouse */
    width: 100%;
}  

/* Estilo para el botón de toggler cuando está activo (seleccionado) */
.navbar-toggler:active {
  border-color: #FBB41C; /* Color amarillo */
  box-shadow: 0 0 10px #FBB41C; 
}

.bi-list {
  color:white;/* Color blanco, para el hamburguer menu*/
  font-size: 2rem;
}

/* AdminPage*/

table{
  border-collapse: collapse;
  text-align: center;
}
table.list{
  width:100%;
  text-align: center;
}
table.list td{
  text-align: center;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*Validation Process page*/

.validation-process-bar {
  background-color: #144A9A; /* Color de fondo de la barra */
  color: white; /* Color del texto */
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation-process-bar button {
  margin: 0 10px;
}

/* Estilos para los botones */
.validation-process-bar .btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}